@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.gameDesk {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh 20vh;
  grid-gap: 5px;
  background-color: #ec8;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.strikeLine {
  height: 100%;
  width: 2vh;
  background-color: brown;
  position: absolute;
  content: ' ';
}

.playerPanel {
  /* width: 20vw; */
  height: 22vh;
  margin: auto;
  text-align: center;
  font-size: 8vh;
  color: rgb(241, 241, 241);
  /* float: left; */
}

hr {
  margin: auto;
}

span {
  line-height: inherit;
  display: block;
}

.playerPanel p {
  margin: auto;
}

.newGamePanel {
  margin: 1rem auto;
  width: fit-content;
}

input[type="button"] {
  font-size: 4vmin;
  border: unset;
  background-color: unset;
  color: #fff;
  margin: 0 3rem;
  cursor: pointer;
}

span {
  position: relative;
}

span .winBar {
  position: absolute;
  width: 100vw;
  top: 0;
  background-color: #6aa;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

span .active {
  opacity: 1;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (orientation:portrait) {
  .gameDesk {
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw;

  }

  input[type="button"] {
    margin: 0 1vw 0 1vw;
  }

  .strikeLine {
    width: 1vh;
  }

  span .winBar {
    font-size: 4vmax;
    line-height: 8vmax;
  }
}

@media screen and (max-width:400px) {
  .playerPanel {
    font-size: 7vmax;
  }
}