.cell {
    /* width: 20vh;
    height: 20vh; */
    background-color: #6aa
        /* background-color: antiquewhite; */
}

.cellCross {
    position: relative;
}

.cellCross:before,
.cellCross:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 100%;
    width: 1vh;
    background-color: #fff;
}

.cellCross:before {
    transform: rotate(45deg);
}

.cellCross:after {
    transform: rotate(-45deg);
}

.cellCircle {
    position: relative;
}

.cellCircle::after {
    content: ' ';
    border: 1vh solid #366;
    border-radius: 50%;
    display: block;
    height: calc(100% - 2vh);
    width: calc(100% - 2vh);
}